# chapter 5 loops and iterations

# write a program to say hello 5 times

In [1]:
n = 5
while n > 0:
  print('hello')
  n = n - 1 
print('done!')

hello
hello
hello
hello
hello
done!

In [2]:
n = 0
while n < 5:
  print('hello')
  n = n + 1 
print('done!')

hello
hello
hello
hello
hello
done!

* write a program to count-up 1-5 
* write a program to count-down 5-0

In [6]:
n = 1
while n <= 5 :
  print(n)
  n +=1 # n = n -1 
print('done')

1
2
3
4
5
done

In [7]:
n = 5
while n >= 0:
  print(n)
  n -=1
print('done')

5
4
3
2
1
0
done

# write a program to say hello 5 times each second

In [12]:
from time import sleep
n = 0 
while n < 5:
  print('hello')
  n +=1 
  sleep(2)
print('done')

hello
hello
hello
hello
hello
done

In [14]:
while True:
  line = input('> ')
  if line == 'exit':
    break # go to line 6 
  print(line)
print('done')

> hello
hello
> hi
hi
> exit
done

In [16]:
while True:
  line = input('> ')
  if line[0] == "#":
    continue # go to line 1 
  if line == 'exit':
    break # go to line 8 
  print(line)
print('done')

> hello
hello
> hola
hola
> # bonjour
> #exit
> exit
done

In [17]:
# indefinite loop 
while True:
  line = input('> ')
  if line[0] == "#":
    continue # go to line 1 
  if line == 'exit':
    break # go to line 8 
  print(line)
print('done')

> hello#
hello#
> #hi
> bonjour
bonjour
> exit
done

In [18]:
names = ['Ahmed',  'Adham', 'George', 'Ali', 'Majdi', 'Khitam']
# write code to find names that start with A 
for name in names:
  if name[0] != 'A':
    continue 
  print(name)

Ahmed
Adham
Ali

In [19]:
names = ['Ahmed',  'Adham', 'George', 'Ali', 'Majdi', 'Khitam']
# write code to find names that do not start with A 
for name in names:
  if name[0] == 'A':
    continue 
  print(name)

George
Majdi
Khitam

In [20]:
# loop using iteration variable 
numbers = [2, 5, 1, 8]
for n in numbers:
  print(n)

2
5
1
8

In [21]:
# write a program to sum a list 
numbers = [2, 5, 1, 8]
total = 0 
for n in numbers:
  total = total + n 
print(total)

16

In [22]:
numbers[0]

2

In [23]:
numbers[3]

8

In [24]:
range(4)

range(0, 4)

In [25]:
list(range(4))

[0, 1, 2, 3]

In [26]:
# loop using index 
for i in range(4):
  print(numbers[i])

2
5
1
8

In [27]:
# loop using index 
for i in range(len(numbers)):
  print(numbers[i])

2
5
1
8