# Chapter 6: Strings

In [1]:
s1 = 'hello'
s2 = 'word'

In [3]:
s1 + s2 # concat

'helloword'

In [4]:
s1 + ' ' + s2 # concat

'hello word'

In [5]:
s1 - s2

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [6]:
s1 * 3

'hellohellohello'

In [7]:
s3 = 'hello '
s3 * 4

'hello hello hello hello '

# a string is a list of chars

In [8]:
s3[0]

'h'

In [9]:
s3[1]

'e'

In [12]:
s3

'hello '

In [11]:
len(s3) # number of chars

6

# a string is immutable list of chars

In [15]:
s3 = 'hello '
s3[0]

'h'

In [16]:
s3[0] = 'H'

TypeError: 'str' object does not support item assignment

In [17]:
a = [1, 2, 4]
a

[1, 2, 4]

In [18]:
a[0] = 7
a

[7, 2, 4]

In [19]:
s4 = 'hello'
s4

'hello'

In [20]:
s4 = 'hi'
s4

'hi'

# loop over string

In [21]:
# using iterating variable 
s5 = 'python is cool and I love python'
for char in s5:
    print(char)

p
y
t
h
o
n

i
s

c
o
o
l

a
n
d

I

l
o
v
e

p
y
t
h
o
n

In [25]:
# using index 
s = 'python is cool and I love python'
print('index\tchar\n-----------')
for i in range(len(s)):
    print(i, '\t' ,s[i])

index	char
-----------
0 	 p
1 	 y
2 	 t
3 	 h
4 	 o
5 	 n
6
7 	 i
8 	 s
9
10 	 c
11 	 o
12 	 o
13 	 l
14
15 	 a
16 	 n
17 	 d
18
19 	 I
20
21 	 l
22 	 o
23 	 v
24 	 e
25
26 	 p
27 	 y
28 	 t
29 	 h
30 	 o
31 	 n

# write code to count the letter 'a' in a string

In [26]:
s = 'python is cool and I love python'
s

'python is cool and I love python'

In [27]:
# count a
count = 0 
for c in s:
    if c == 'a':
        count += 1
print(count)

1

In [28]:
# count o 
count = 0 
for c in s:
    if c == 'o':
        count += 1
print(count)

5

In [30]:
s

'python is cool and I love python'

In [29]:
'a' in s

True

In [31]:
'k' in s

False

In [32]:
'th' in s

True

In [33]:
'po' in s

False

# String slicing

In [34]:
s = 'Monty Python'

In [35]:
s

'Monty Python'

In [36]:
s[1:4]

'ont'

In [37]:
s[:4]

'Mont'

In [38]:
s[:]

'Monty Python'

In [39]:
s[2:]

'nty Python'

In [40]:
s[0]

'M'

In [41]:
s[1]

'o'

In [42]:
s[-1]

'n'

In [43]:
s

'Monty Python'

In [44]:
s[-2]

'o'

In [47]:
s[-4:] # last 4 chars

'thon'

In [49]:
s1 = 'banana'
s2 = 'orange'

In [50]:
s1 == s2

False

In [51]:
max('A', 'a')

'a'

In [52]:
# alphabatical order _AZaz 
s1 > s2

False

In [53]:
s1 < s2

True

In [54]:
s1 = 'banana'
s2 = 'blue berry'

In [55]:
s1 > s2

False

In [56]:
s1 < s2

True