# Chapter 8: Lists

In [1]:
x = 10 
x = 20 
print(x)

20

# a collection is varaible that can hold many values

In [2]:
x = [10, 20]
print(x)

[10, 20]

In [3]:
# list of numbers 
numbers = [1, 6, 12]
numbers

[1, 6, 12]

In [4]:
numbers = [1, 1.16, 12.5, 0.6, 7]
numbers

[1, 1.16, 12.5, 0.6, 7]

In [5]:
students = ['Ahmed', 'Ali', 'Muhammad']
students

['Ahmed', 'Ali', 'Muhammad']

In [7]:
alist = ['Ahmed', 20, 'Data Science']
alist

['Ahmed', 20, 'Data Science']

In [10]:
# nested lists 
alist = ['Ahmed', [20, 17], 'Data Science', ['python', 'data preprocessing', 'ML']]
alist

['Ahmed', [20, 17], 'Data Science', ['python', 'data preprocessing', 'ML']]

In [17]:
# create empty list

In [11]:
list2 = list()
list2

[]

In [12]:
list2 = []
list2

[]

In [13]:
alist

['Ahmed', [20, 17], 'Data Science', ['python', 'data preprocessing', 'ML']]

# access list by indeces

In [14]:
alist[0]

'Ahmed'

In [15]:
alist[1]

[20, 17]

In [16]:
alist[1][0]

20

# loop over list 

1. using iteration variable 
2. using index

In [18]:
# using iteration variable 
for element in alist:
    print(element)

Ahmed
[20, 17]
Data Science
['python', 'data preprocessing', 'ML']

In [19]:
# using index 
for i in range(len(alist)):
    print(alist[i])

Ahmed
[20, 17]
Data Science
['python', 'data preprocessing', 'ML']

In [20]:
friends = ['Majdy', 'Khitam', 'Goerge']
friends

['Majdy', 'Khitam', 'Goerge']

In [22]:
for friend in friends: 
    print('hello', friend)

hello Majdy
hello Khitam
hello Goerge

In [23]:
for friend in friends: 
    print('Happy new year', friend)

Happy new year Majdy
Happy new year Khitam
Happy new year Goerge

In [24]:
friends

['Majdy', 'Khitam', 'Goerge']

# list is mutable

In [25]:
friends[0] = 'Majdi'

In [26]:
friends

['Majdi', 'Khitam', 'Goerge']

# string is imputable list

In [28]:
s1 = 'banana'
s1

'banana'

In [29]:
s1[0]

'b'

In [31]:
s1[0] = 'B' # string is imputable list

TypeError: 'str' object does not support item assignment

# string length

In [32]:
len(s1)

6

In [34]:
len(friends)

3

In [35]:
alist

['Ahmed', [20, 17], 'Data Science', ['python', 'data preprocessing', 'ML']]

In [36]:
len(alist)

4

# list operation

In [37]:
a = [1, 2, 3]
b = [4, 5, 6]

In [38]:
a + b # concat

[1, 2, 3, 4, 5, 6]

In [39]:
a - b

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [40]:
t = [9, 41, 12, 3, 74, 15]
t

[9, 41, 12, 3, 74, 15]

In [41]:
t[3]

3

In [42]:
t[3:]

[3, 74, 15]

In [43]:
t[:5]

[9, 41, 12, 3, 74]

In [44]:
t[:]

[9, 41, 12, 3, 74, 15]

In [48]:
t[3:5]

[3, 74]

In [46]:
t[-1]

15

In [47]:
t[:-2]

[9, 41, 12, 3]

# list functions

In [50]:
print(dir(t))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [51]:
t

[9, 41, 12, 3, 74, 15]

In [52]:
t.append(8)
t

[9, 41, 12, 3, 74, 15, 8]

In [53]:
t.clear()

In [54]:
t

[]

In [55]:
t.append(1)

In [57]:
t

[1]

In [58]:
t.append(7)

In [59]:
t

[1, 7]

In [60]:
t = [9, 41, 12, 3, 74, 15, 8]

In [61]:
list1 = [9, 41, 12, 3, 74, 15, 8]

In [62]:
list2 = list1

In [63]:
list1

[9, 41, 12, 3, 74, 15, 8]

In [64]:
list2

[9, 41, 12, 3, 74, 15, 8]

In [65]:
list1[0] += 1 
list1

[10, 41, 12, 3, 74, 15, 8]

In [66]:
list2

[10, 41, 12, 3, 74, 15, 8]

In [67]:
list3 = list1.copy()

In [68]:
list3

[10, 41, 12, 3, 74, 15, 8]

In [69]:
list1

[10, 41, 12, 3, 74, 15, 8]

In [70]:
list1[0] += 1 
list1

[11, 41, 12, 3, 74, 15, 8]

In [71]:
list3

[10, 41, 12, 3, 74, 15, 8]

In [72]:
list3

[10, 41, 12, 3, 74, 15, 8]

In [74]:
list3.extend(0)

TypeError: 'int' object is not iterable

In [75]:
list3.extend([0, 9]) # list3 + [0, 9] # concat

In [76]:
list3

[10, 41, 12, 3, 74, 15, 8, 0, 9]

In [77]:
list3.index(15)

5

In [78]:
list3.index(7)

ValueError: 7 is not in list

In [79]:
list3

[10, 41, 12, 3, 74, 15, 8, 0, 9]

In [80]:
t = [3, 41, 12, 3, 74, 15, 8, 12, 3]

In [81]:
t.count(10)

0

In [82]:
t.count(3)

3

In [83]:
t.count(12)

2

In [84]:
t

[3, 41, 12, 3, 74, 15, 8, 12, 3]

In [85]:
t.insert(4, 79) # insert(pos, element)
t

[3, 41, 12, 3, 79, 74, 15, 8, 12, 3]

In [86]:
v = t.pop() # remove last value and return it

In [88]:
v

3

In [87]:
t

[3, 41, 12, 3, 79, 74, 15, 8, 12]

In [89]:
t.remove(3)
t

[41, 12, 3, 79, 74, 15, 8, 12]

In [90]:
t.remove(3)
t

[41, 12, 79, 74, 15, 8, 12]

In [91]:
t.remove(3)
t

ValueError: list.remove(x): x not in list

In [92]:
t

[41, 12, 79, 74, 15, 8, 12]

In [93]:
t.reverse()

In [94]:
t

[12, 8, 15, 74, 79, 12, 41]

In [95]:
t.sort()

In [96]:
t

[8, 12, 12, 15, 41, 74, 79]

In [97]:
t.sort(reverse=True)
t

[79, 74, 41, 15, 12, 12, 8]

In [98]:
t2 = [12, 'b', 'c', 4]
t2.sort()
t2

TypeError: '<' not supported between instances of 'str' and 'int'

In [99]:
t2 = ['a', 'b', 'c', 'f']
t2.sort()
t2

['a', 'b', 'c', 'f']

In [101]:
t2.sort(reverse=True)
t2

['f', 'c', 'b', 'a']

In [102]:
x = 10
x

10

In [104]:
x = 10
print(x)

10

In [103]:
x = 10
x 
print('hello')

hello

# is somehting in the list using in operator

In [105]:
t

[79, 74, 41, 15, 12, 12, 8]

In [107]:
74 in t

True

In [106]:
7 in t

False

In [108]:
t

[79, 74, 41, 15, 12, 12, 8]

# built-in functions len, max, min, sum

In [109]:
max(t)

79

In [110]:
min(t)

8

In [111]:
sum(t)

241

In [112]:
sum(t)/len(t)

34.42857142857143

In [113]:
a = list()
a

[]

In [115]:
a = []
a

[]

In [114]:
b = list([1, 2, 3])
b

[1, 2, 3]

In [116]:
b = [1, 2, 3]
b

[1, 2, 3]

# write a program to take numbers from the user untill he/she entered done, the file the average

In [118]:
while True:
    line = input('please enter a number: ')
    if line == 'done':
        break 
    number = int(line)  
print('done!')

please enter a number:  23
please enter a number:  76
please enter a number:  98
please enter a number:  89
please enter a number:  done

done!

In [119]:
total = 0 
count = 0 
while True:
    line = input('please enter a number: ')
    if line == 'done':
        break 
    number = int(line)  
    total += number 
    count += 1
print('average =', total/count)
print('done!')

please enter a number:  23
please enter a number:  54
please enter a number:  89
please enter a number:  93
please enter a number:  done

average = 64.75
done!

In [121]:
num_list = [] 
while True:
    line = input('please enter a number: ')
    if line == 'done':
        break 
    number = int(line)  
    num_list.append(number)

print('average =', sum(num_list)/len(num_list))
print('done!')

please enter a number:  23
please enter a number:  54
please enter a number:  89
please enter a number:  93
please enter a number:  done

average = 64.75
done!

# Write a program to sum the prices of products and provide disount

In [122]:
num_list = [] 
while True:
    line = input('please enter a number: ')
    if line == 'done':
        break 
    number = int(line)  
    num_list.append(number)

discount = float(input('please enter discount ratio: '))
print('Your total is', sum(num_list))
print('Your total after discount is ', sum(num_list) - sum(num_list) * discount)
print('done!')

please enter a number:  12
please enter a number:  4
please enter a number:  8
please enter a number:  12
please enter a number:  10
please enter a number:  10
please enter a number:  38
please enter a number:  7
please enter a number:  22
please enter a number:  18
please enter a number:  done
please enter discount ratio:  0.3

Your total is 141
Your total after discount is  98.7
done!